
html, body {
	height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	width: 100%;
	min-height: 100vh;
	//max-height: 100%;
	//height: fit-content;
	font-family: $font-main;
	font-size: $font-size-body;
	line-height: 1.5;
	background-color: $light;
	color: $dark;
	// display: flex;
	// flex-direction: column;
	//flex-wrap: wrap;
}

.page-content {
	width: 100%;
	// position: relative;
	// top: 104px;
	//min-height: calc(100vh - 61px);
	@media screen and (min-width: 1500px) {
		//min-height: calc(100vh - 88px);
		// top: 164px;
	}
}

.body--link {
	color: $brand;
	text-decoration: none;
	font-weight: 500;
	&:active, &:hover {
		text-decoration: underline;
	}
}

#about {
	padding: 2rem 2rem 0 2rem;
	@media screen and (min-width: 1500px) {
		padding: 4rem 4rem 0 4rem;
	}
}

#full-stack, #wordpress, #mail {
	padding: 8rem 2rem 0 2rem;
	@media screen and (min-width: 1500px) {
		padding: 10rem 4rem 0 4rem;
	}
}
