.footer {
	@include flex-row;
	justify-content: flex-end;
	align-items: center;
	background-color: $dark;
}

.footer--item {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: lighten($header, 20%);
	@media screen and (min-width: 1500px) {
		padding: 1rem 2rem;
	}
}
