.footer {
	@include flex-row;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	background-color: $brand;
	height: fit-content;
	margin-top: 5rem;
	z-index: 10;
	@media screen and (min-width: 1500px) {
		margin-top: 8rem;
	}
}

.footer--item {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: $header;
	font-size: $font-size-menu;
	@media screen and (min-width: 1500px) {
		font-size: 1.25 * $font-size-menu;
		padding: 1rem 2rem;
	}
}
