.header {
	background-color: $header;
	width: 100%;
	position: fixed;
	z-index: 50;
	//padding: 2rem;
	@include flex-row;
	align-items: center;
	justify-content: flex-start;
	@media screen and (max-width: 400px) {
		justify-content: center;
	}
	@media screen and (min-width: 1024px) {
		justify-content: space-between;
	}
}

.triangle {
	display: none;
}

#menuOverlay {
	position: fixed;
	visibility: hidden;
	left: 0;
	top: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	background-color: rgba($dark, 0.7);
	overflow: auto;
	@media screen and (min-width: 812px) {
		display: none;
	}
}

.header__mobile__toggle {
	font-size: $font-size-brand - 5px;
	position: relative;
	top: 1px;
	color: $brand;
	padding: 1rem;
	@media screen and (min-width: 826px) {
		display: none;
	}
}

.header__brand {
	@media screen and (min-width: 826px) and (max-width: 1023px) {
		flex-grow: 1;
		//padding: 0 2rem 0 0;
	}
	@media screen and (min-width: 1500px) {
		margin-left: 3rem;
	}
}

.header__brand, .header__menu__item {
	@include flex-column;
	// align-items: center;
	// justify-content: stretch;
}

.header__brand--link {
	display: block;
	width: fit-content;
	color: $brand;
	font-family: $font-titles;
	font-size: $font-size-brand;
	line-height: 1;
	padding: 1rem;
	text-decoration: none;
	span {
		position: relative;
		top: 3px;
	}
	@media screen and (min-width: 826px) {
		padding: 2rem;
	}
	@media screen and (min-width: 1500px) {
		font-size: 2.5 * $font-size-brand;
	}
}

.header__menu {
	background-color: $header;
	position: fixed;
	visibility: hidden;
	left: 2rem;
	top: 0;
	height: 100vh;
	width: fit-content;
	overflow: scroll;
	transition: max-height 0.4s ease 0s;
	z-index: -1;
	list-style-type: none;
	padding: 1.75rem 0;
	@media screen and (min-width: 826px) {
		@include flex-row;
		@include between-center;
		flex-grow: 2;
		background-color: unset;
		position: relative;
		left: unset;
		overflow: unset;
		height: unset;
		width: unset;
		z-index: 10;
		padding: 0;
		visibility: visible;
		font-size: unset;
	}
	@media screen and (min-width: 1024px) {
		flex-grow: unset;
		width: 655px;
	}
	@media screen and (min-width: 1500px) {
		margin-right: 3rem;
	}
}

.header__menu--link {
	i {
		position: relative;
		top: -3px;
	}
	display: block;
	@include flex-column;
	@include center-center;
	box-sizing: content-box;
	padding: 2rem;
	height: $font-size-brand;
	text-decoration: none;
	color: $dark;
	font-size: $font-size-menu;
	line-height: 1;
	@media screen and (min-width: 1500px) {
		font-size: 1.25 * $font-size-menu;
		height: 2.5 * $font-size-brand;
	}
}

.header--inverse {
	background-color: $brand;
	//border-bottom: 3px solid $brand;
	color: $header;
	& + .triangle {
		@media screen and (min-width: 826px) {
			align-self: center;
			display: block;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 10px solid $brand;
			//border-radius: 5px;
			position: fixed;
			top: 102px;
			@media screen and (min-width: 1500px) {
				border-left: 35px solid transparent;
				border-right: 35px solid transparent;
				border-top: 20px solid $brand;
				top: 162px;
			}
		}
	}
}
