.payment {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: calc(104px + 1rem);
	padding: $font-size-body * 2;
	//margin: ($font-size-body * 2) auto;
	background: $header-light;
	padding: 1rem;
	@media screen and (min-width: 600px) and (max-width: 1023px) {
		padding: 2rem;
		margin-top: calc(104px + 3rem);
	}
	@media screen and (min-width: 1024px) and (max-width: 1499px) {
		width: 80%;
		margin-top: calc(104px + 5rem);
	}
	@media screen and (min-width: 1500px) {
		width: 60%;
		margin-top: calc(164px + 5rem);
		//margin-bottom: 164px;
		padding: 3rem;
	}
}

.payment--warning {
	color: $warning;
}

.payment--h4 {
	font-size: $font-size-h4;
	@media screen and (min-width: 1500px) {
		font-size: 2.5 * $font-size-h4;
	}
}

.payment--p {
	padding-bottom: 0.5rem;
	@media screen and (min-width: 1500px) {
		font-size: 2.5 * $font-size-body;
	}
}

.payment__details__totals {
	@include flex-column;
	align-items: flex-end;
}

.payment--hidden {
	display: none;
}

.payment__line-items {
	background: #fff;
	padding: 2rem;
	margin-bottom: 1rem;
	@media screen and (min-width: 1500px) {
		margin-bottom: 2rem;
	}
	.payment--h4 {
		font-family: $font-titles;
		color: $brand;
	}
	.payment--p {
		padding-left: 1rem;
	}
}

.payment--link {
	padding-bottom: 0.5rem;
	color: $brand;
	font-family: $font-titles;
	text-decoration: none;
	@media screen and (min-width: 1500px) {
		font-size: 2.5 * $font-size-body;
	}
}

.payment--total {
	font-family: $font-titles;
	color: $brand;
}

.payment__switch__container {
	@include flex-row;
	justify-content: flex-start;
	align-items: center;
	margin: 1rem 0;
	width: 100%;
	@media screen and (min-width: 1500px) {
		margin: 2rem 0;
	}
	.payment--p {
		width: 100%;
		padding-bottom: 0;
		line-height: 1;
	}
}

.payment--switch {
	// position: relative;
  // display: inline-block;
  // width: 80px;
  // height: 44px;
	@include flex-column;
	justify-content: center;
	margin-right: 1rem;
	@media screen and (min-width: 1500px) {
		margin-right: 2rem;
	}
}

.payment--checkbox {
	height: 0;
	width: 0;
	//position: absolute;
	//margin-left: -9999px;
	visibility: hidden;
	top: 20px;
	left: 20px;
}
.payment--slider {
	cursor: pointer;
	//text-indent: -9999px;
	background: $brand;
	display: block;
	position: relative;
	width: 58px;
	height: 33px;
	border-radius: 33px;
	top: -7px;
	@media screen and (min-width: 1500px) {
		width: 108px;
		height: 58px;
		border-radius: 58px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		width: 25px;
		height: 25px;
		background: $header-light;
		border-radius: 25px;
		transition: 0.3s;
		@media screen and (min-width: 1500px) {
			width: 50px;
			height: 50px;
			border-radius: 50px;
		}
	}
}
.payment--checkbox:checked + .payment--slider {
	background: $header;
}
.payment--checkbox:checked + .payment--slider:after {
	background: #fff;
	left: calc(100% - 4px);
	-ms-transform: translateX(-100%); /* IE 9 */
	-webkit-transform: translateX(-100%); /* Chrome, Safari, Opera */
	transform: translateX(-100%);
}
.payment--slider:active:after {
	width: 38px;
	@media screen and (min-width: 1500px) {
		width: 75px;
	}
}

.payment__switch__group {
	@include flex-column;
	width: 100%;
}

#payment-form {
	width: 100%;
	.payment__group {
		margin: 1rem 0;
	}
}

#card-errors {
	color: $warning;
	padding-bottom: 0.5rem;
	@media screen and (min-width: 1500px) {
		font-size: 2.5 * $font-size-body;
	}
}

.payment__input {
	padding: 1rem;
	border: 3px solid $brand;
	background: #fff;
	border-radius: 5px;
	width: 100%;
	font-size: $font-size-menu;
	margin: 1rem 0;
	&:focus {
		border-color: $header;
		-webkit-box-shadow: 0 0 30px $brand;
		-moz-box-shadow: 0 0 30px $brand;
		box-shadow: 0 0 30px $brand;
	}
	// &:focus > * {
	// 	border-color: $header;
	// 	-webkit-box-shadow: 0 0 30px $brand;
	// 	-moz-box-shadow: 0 0 30px $brand;
	// 	box-shadow: 0 0 30px $brand;
	// }
}

.text-center {
	text-align: center;
}
