<div class="footer">
	<span class="footer--copy footer__item footer--item">
		&copy;{{footerYear}}
	</span>
	<a class="footer__item footer--item" href="https://www.linkedin.com/in/slsriehl/" target="_blank">
		<i class="footer--social fa fa-linkedin-square"></i>
	</a>
	<a class="footer__item footer--item" href="https://twitter.com/slsriehl" target="_blank">
		<i class="footer--social fa fa-twitter"></i>
	</a>
	<a class="footer__item footer--item" href="https://github.com/slsriehl" target="_blank">
		<i class="footer--social fa fa-github"></i>
	</a>
	<a class="footer__item footer--item" href="https://duringthedrive.com" target="_blank">
		<i class="footer--social fa fa-wordpress"></i>
	</a>
<!-- / .footer -->
</div>
