<div class="header">
	<div id="menuOverlay"></div>
	<i class="fa fa-bars header__mobile__toggle" id="menuToggle"></i>
	<div class="header__brand">
		<a href="#about" class="header__brand--link header--inverse">
			<span>
				Studio Riehl
			</span>
		</a>
		<div class="triangle"></div>
	</div>
	<ul class="header__menu" id="headerMenu">
		<li class="header__menu__item">
			<a href="#full-stack" class="header__menu--link">
				FULL STACK
			</a>
			<div class="triangle"></div>
		</li>
		<li class="header__menu__item">
			<a href="#wordpress" class="header__menu--link">
				WORDPRESS
			</a>
			<div class="triangle"></div>
		</li>
		<li class="header__menu__item">
			<a href="#mail" class="header__menu--link">
				<i class="fa fa-envelope-o"></i>
			</a>
			<div class="triangle"></div>
		</li>
	<!-- / .header__menu -->
	</ul>
	<!-- / .header -->
</div>
