<div class="header" id="paymentHeader">
	<div class="header__brand">
		<a href="/" class="header__brand--link header--inverse">
			<span>
				Studio Riehl
			</span>
		</a>
		<div class="triangle"></div>
	</div>
	<!-- / .header -->
</div>
