<div class="section section__sites" id="mail">
	<div class="about__cont mail__cont">
		<h3 class="about--h3">
			Give us a shout!&nbsp;
		</h3>
		<p class="about--p">
			<span id="replaceOnSubmit">You can email us using the form below. </span>Call or text us at <a href="tel:+15129107089" class="body--link">512&nbsp;910&nbsp;7089</a>.
		</p>
		<form class="contact__form" id="emailStudioRiehl">
				<div class="contact__float-label">
					<input class="contact__input" name="name" type="text"/>
					<label for="name">Name</label>
				</div>

				<div class="contact__float-label">
					<input class="contact__input" name="email" type="email"/>
					<label for="email">Email</label>
				</div>

			<div class="contact__float-label">
				<input class="contact__input" name="tel" type="tel" />
				<label for="tel">Phone (optional)</label>
			</div>

			<div class="contact__float-label">
				<input class="contact__input" name="subject" type="text"/>
				<label for="subject">Subject</label>
			</div>

			<div class="contact__float-label">
				<textarea class="contact__input" name="message"></textarea>
				<label for="message">Message</label>
			</div>

			<div class="contact--captcha">
				<div class="g-recaptcha captcha" data-sitekey="{{recaptchaSiteKey}}" style="width: 308px;"></div>
			</div>

			<div class="contact__button__container">
				<button type="submit" class="contact__button">
					Send
				</button>
			</div>
		</form>
	<!-- /section__text -->
	</div>
</div>
