<div class="section section__sites" id="wordpress">
{{#each wordpressSites}}
	<div class="site__container">
		<div class="site__img">
			<img src="{{imgPath}}" class="site__img--img" />
			<div class="site__img--overlay">
				<a class="site--link" href="{{strictUrl}}" target="_blank">
					go&nbsp;<i class="fa fa-angle-double-right"></i>
				</a>
			</div>
		</div>
		<div class="site__info">
			<p class="site--name">{{siteName}}</p>
			<p class="site--info">
				wordpress
			</p>
			<p class="site--info">{{siteYear}}</p>
		</div>
	</div>
{{/each}}
</div>
